APP_TITLE=XML Parser
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/fastapi
OPENAI_API_KEY=Ваш ключ доступа к APi
OPENAI_API_URL=(По умолчанию: https://api.proxyapi.ru/openapi/v1)
CELERY_BROKER_URL=redis://guest:guest@localhost:6379/0
CELERY_RESULT_BACKEND=redis://guest:guest@localhost:6379/0
POSTGRES_USER=Ваш логин для подключения к Рostgres
POSTGRES_PASSWORD=Ваш пароль для подключения к Рostgres
POSTGRES_DB=Название базы данных
DB_HOST=Хост бащы данных
DB_PORT=Порт базы данных (по умолчанию 5432)